*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

header{
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 50;
    width: 100%;
}

.nav1{
    border: 2px solid #f0f0f0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 15px;
    padding-bottom: 0.5rem;
    line-height: 27px;
    padding: 8px 0px;
    background-color: #f0f0f0;
}

.nav1 p{
    padding-right: 200px;
}
.nav2{
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    line-height: 2.14;
    font-weight: bolder;
    background-color: #f0f0f0;
    width: 100%;
    z-index: 10;
    
}


.nav2 ul li{
    display: inline-block; 
}
.nav2 ul li a:hover{
    color: #6a572f;
}
.nav2 ul li a{
    list-style-type: none;
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    letter-spacing: 1px;
}
.nav2 i{
    visibility: hidden;
}
.nav2 img{
    padding-left: 110px;
}
.nav2 ul{
    padding-right: 110px;
}

.nav2 button{
    background-color: #b0914f;
    color: white;
    padding: 13px 20px;
    font-weight: bolder;
    border: none;
}
.nav2 button:hover{
    background-color: #6a572f;
    transition: all .5s;
}
.sec1-img{
    background-image:linear-gradient(rgba(0, 0, 0, 0.511), rgba(0, 0, 0, 0.467)), url(../Images/Aboutus/background.jpg);
    text-align: center;
}
.sec1-img h1{
    padding: 120px 0px 90px;
    font-size: 40px;
    color: #f0f0f0;
}
.sec1-img a{
    color: #f0f0f0;
    text-decoration: none;
}
.sec1-img .link{
    color: #f0f0f0;
    font-size: 15px;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}
                        /* section2  */

.section2{
    margin: 100px 200px;
}
.sec2{
    display: flex;
}
.sec2-box1{
    width: 900px;
}
.sec2 h2{
    margin: 0 0 24px;
    font-size: 28px;
}
.sec2-box1 li i{
    margin-right: 24px;
    color: #b0914f;
}
.sec2-box1 li{
    margin-bottom: 10px;
}
.sec2-box1 ul{
    margin-bottom: 50px;
}
.sec2-box1 span i{
    margin-left: 25px;
}
.sec2-2 p{
    margin-bottom: 80px;
    font-size: 15px;
}
.sec2-2 h3{
    font-size: 25px;
}
.sec2-2 h3 span{
    font-size: 32px;
}





.sec3-text{
    padding-top: 106px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}
.sec3-text p{
    margin-bottom: 16px;
    width: 730px;
    margin-left: 380px;
    font-size: 14px;
    color: #7b7b7b;
}
.sec3-text h1{
    margin-bottom: 16px;
    margin-left: 0px;
    font-size: 50px;
}
.sec3-text span{
    color: #b0914f;
    letter-spacing: 2px;
    font-weight: bold;
}
.sec3-line{
    width: 40px;
    height: 3px;
    background-color: #b0914f;
    margin: 0 0 50px 720px;
}
#name{
    width: 302.5px;
    height: 35px;
    padding: 6px 12px;
    margin-bottom: 16px;
}
#Subject{
    width: 302.5px;
    height: 35px;
    padding: 6px 12px;
}
#Email{
    width: 635px;
    height: 35px;
    padding: 6px 12px; 
    margin-bottom: 16px;
}
#message{
    width: 635px;
    height: 100px;
    padding: 6px 12px; 
    margin-bottom: 16px;
}
button{
    width: 163px;
    height: 48px;
    background-color: #b0914f;
    color: #f0f0f0;
    border: transparent;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: bolder;
}

button:hover{
    background-color: #6a572f;
    transition: all .5s;
}

.form-map{
    display: flex;
    margin: 100px 200px;
    justify-content: space-between;
}
form input{
    border: 1px solid rgba(128, 128, 128, 0.579);
}
.map{
    margin-left: 40px;
}
.map h3{
    margin-bottom: 10px;
}





/* footer start here  */

.footer{
    display: flex;
    justify-content: space-evenly;
    padding:60px 0px 0px;
    margin: 0 135px;
}

.footertxt{
    width: 255px;
    height: 192px;
}
.footertxt h1{
    margin: 0 0 8px;
}
.Footeradd{
    width: 255px;
    height: 194.8px;
    text-align: center;
    text-align: justify;
    margin: 0 0 10px;
    
}
.Footeradd h1{
    margin: 0 0 24px;
    
}
.Footeradd i{
    color: #b0914f;
    text-align: justify;
    margin: 0px 8px 10px 0;
}
.footerquick{
    width: 255px;
    height: 223px;
}
.footerquick h1{
    margin: 0 0 24px;
}
.footerquick li a{
    list-style-type: none;
    text-decoration: none;
    color: #595959;
}
.footerquick li a:hover{
    color: #b0914f;
}
.footerquick li{
    list-style-type: none;
    margin: 0 0 10px;
    
}
.footercompany h1{
    margin: 0 0 24px;
}
.footercompany a{
    text-decoration: none;
    color: #595959;
}
.footercompany a:hover{
    color: #b0914f;
}
.footercompany li{
    list-style-type: none;
    margin: 0 0 10px;
}
.footercompany i{
    color: #b0914f;
}
.copy{
    width: 1425px;
    height: 76px;
    border-top: 1px solid #f9f9f9;
    text-align: center;
    padding: 24px 0px;
}














@media screen and (max-width: 325px){
    .section2{
        width: 300px;
        margin: 30px 20px;
    }
    .sec2{
        display: flex;
        flex-direction: column;
        width: 290px;
    }
    .sec2-box1{
        width: 280px;
    }
   
    .sec2 h2{
        margin: 0 0 20px;
        font-size: 28px;
    }
    .sec2-box1 li {
        margin-bottom: 10px;
        width: 290px;
    }
    .sec2-box1 span i{
        margin-left: 0px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
   
    
    
    
    .sec3-text p{
        margin-bottom: 16px;
        width: 290px;
        margin-left: 20px;
        font-size: 14px;
        color: #7b7b7b;
    }
    .sec3-text h1{
        margin-bottom: 16px;
        margin-left: 0px;
        font-size: 50px;
    }
    .sec3-line{
        width: 40px;
        height: 3px;
        background-color: #b0914f;
        margin: 0 0 50px 150px;
    }


    .form-map{
        display: flex;
        flex-direction: column;
    }
    #name{
        width: 240px;
        height: 35px;
        padding: 6px 12px;
        margin-bottom: 16px;
        margin-left: -169px;
    }
    #Subject{
        width: 240px;
        height: 35px;
        padding: 6px 12px;
        margin-bottom: 16px;
        margin-left: -169px;
    }
    #Email{
        width: 240px;
        height: 35px;
        padding: 6px 12px;
        margin-bottom: 16px;
        margin-left: -169px;
    }
    #message{
        width: 240px;
        height: 105px;
        padding: 6px 12px;
        margin-bottom: 16px;
        margin-left: -169px;
    }
    button{
        width: 163px;
        height: 48px;
        margin-left: -169px;
    }
    
    form input{
        border: 1px solid rgba(128, 128, 128, 0.579);
    }
    .map iframe{
        margin-left: -220px;
        width: 290px;
    }
    .map h3{
        margin-bottom: 10px;
        width: 290px;
        margin-top: 30px;
        margin-left: -218px;
    }

    
    
    
    
    

*{
    margin: 0;
    padding: 0;
}
.nav1 {
    border: 2px solid #f0f0f0;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding-bottom: 0.5rem;
    line-height: 27px;
    background-color: #f0f0f0;
    width: 100%;
}
.nav1 p {
    padding-right: 0;
}
.nav1 span{
    text-align: right;
}
.nav2 ul{
    visibility: hidden;
    margin: 0px;
}
.nav2 i{
    visibility: visible;  
}
.nav2 img {
    padding-left: 0px;
}
.nav2 ul{
    display: none;
}


.footer{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding:60px 0px 0px;
    margin: 0 20px;
}


.footercompany h1{
  margin-top: 20px;
}

.copy{
    width: 300px;
}
    
}